USE [RIK ]
GO
/****** Object:  User [alumno]    Script Date: 9/10/2026 15:55:39 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Ligas]    Script Date: 9/10/2026 15:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ligas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[capacidad] [int] NOT NULL,
	[privacidad] [bit] NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ligas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LigaXUsuario]    Script Date: 9/10/2026 15:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LigaXUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idLiga] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_LigaXUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logros]    Script Date: 9/10/2026 15:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logros](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Conseguido] [bit] NOT NULL,
	[Rareza] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Logros] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogrosXUsuario]    Script Date: 9/10/2026 15:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogrosXUsuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDLogros] [int] NOT NULL,
 CONSTRAINT [PK_LogrosXUsuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Niveles]    Script Date: 9/10/2026 15:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Niveles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tema] [varchar](50) NOT NULL,
	[cantDesafios] [int] NOT NULL,
 CONSTRAINT [PK_Niveles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 9/10/2026 15:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pregunta] [varchar](300) NOT NULL,
	[respuesta] [int] NOT NULL,
	[IDnivel] [int] NOT NULL,
	[opcion1] [varchar](100) NOT NULL,
	[opcion2] [varchar](100) NOT NULL,
	[opcion3] [varchar](100) NOT NULL,
	[opcion4] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Preguntas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rachas]    Script Date: 9/10/2026 15:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rachas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DiasDeRacha] [int] NOT NULL,
 CONSTRAINT [PK_Rachas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RachaXUsuario]    Script Date: 9/10/2026 15:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RachaXUsuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDRacha] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
 CONSTRAINT [PK_RachaXUsuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RopaMascota]    Script Date: 9/10/2026 15:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RopaMascota](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRopa] [varchar](50) NOT NULL,
	[PuntosParaComprar] [decimal](16, 2) NOT NULL,
	[YaComprada] [bit] NOT NULL,
 CONSTRAINT [PK_RopaMascota] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RopaXUsuario]    Script Date: 9/10/2026 15:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RopaXUsuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDRopaMascota] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
 CONSTRAINT [PK_RopaXUsuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/10/2026 15:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[nombreUsuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[NumeroTelefono] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioXNivel]    Script Date: 9/10/2026 15:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioXNivel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idNiveles] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioXNivel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LigaXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_LigaXUsuario_Ligas] FOREIGN KEY([idLiga])
REFERENCES [dbo].[Ligas] ([id])
GO
ALTER TABLE [dbo].[LigaXUsuario] CHECK CONSTRAINT [FK_LigaXUsuario_Ligas]
GO
ALTER TABLE [dbo].[LigaXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_LigaXUsuario_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[LigaXUsuario] CHECK CONSTRAINT [FK_LigaXUsuario_Usuarios]
GO
ALTER TABLE [dbo].[LogrosXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_LogrosXUsuario_Logros] FOREIGN KEY([IDLogros])
REFERENCES [dbo].[Logros] ([ID])
GO
ALTER TABLE [dbo].[LogrosXUsuario] CHECK CONSTRAINT [FK_LogrosXUsuario_Logros]
GO
ALTER TABLE [dbo].[LogrosXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_LogrosXUsuario_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[LogrosXUsuario] CHECK CONSTRAINT [FK_LogrosXUsuario_Usuarios]
GO
ALTER TABLE [dbo].[Preguntas]  WITH CHECK ADD  CONSTRAINT [FK_Preguntas_Niveles] FOREIGN KEY([IDnivel])
REFERENCES [dbo].[Niveles] ([id])
GO
ALTER TABLE [dbo].[Preguntas] CHECK CONSTRAINT [FK_Preguntas_Niveles]
GO
ALTER TABLE [dbo].[RachaXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RachaXUsuario_Rachas] FOREIGN KEY([IDRacha])
REFERENCES [dbo].[Rachas] ([id])
GO
ALTER TABLE [dbo].[RachaXUsuario] CHECK CONSTRAINT [FK_RachaXUsuario_Rachas]
GO
ALTER TABLE [dbo].[RachaXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RachaXUsuario_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[RachaXUsuario] CHECK CONSTRAINT [FK_RachaXUsuario_Usuarios]
GO
ALTER TABLE [dbo].[RopaXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RopaXUsuario_RopaMascota] FOREIGN KEY([IDRopaMascota])
REFERENCES [dbo].[RopaMascota] ([ID])
GO
ALTER TABLE [dbo].[RopaXUsuario] CHECK CONSTRAINT [FK_RopaXUsuario_RopaMascota]
GO
ALTER TABLE [dbo].[RopaXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RopaXUsuario_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[RopaXUsuario] CHECK CONSTRAINT [FK_RopaXUsuario_Usuarios]
GO
ALTER TABLE [dbo].[UsuarioXNivel]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioXNivel_Niveles] FOREIGN KEY([idNiveles])
REFERENCES [dbo].[Niveles] ([id])
GO
ALTER TABLE [dbo].[UsuarioXNivel] CHECK CONSTRAINT [FK_UsuarioXNivel_Niveles]
GO
ALTER TABLE [dbo].[UsuarioXNivel]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioXNivel_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[UsuarioXNivel] CHECK CONSTRAINT [FK_UsuarioXNivel_Usuarios]
GO
